<header class="header new-page-style">
    <div class="heading-title-holder"> <span class="heading-title">Register</span> </div>
</header>
<div class="container_ROW">
    <div class="container">
        <div class="profile-connect">
            <form method="post" action="#">
                <fieldset>
                    <div class="inputfile-holder">
                        <input type="file" name="#" class="fileholder-btn" size="0">
                <span class="profile-img-main heart-big-profile">
                <img src="images/capture-img.png" alt="Profile Picture">
                </span>
                    </div>
                    <input type="text" class="textfield-holder" name="#" placeholder="Full name">
                    <input type="text" name="#" placeholder="Vocation e.g. Barista" class="textfield-holder">
                    <a href="#" class="visibility-btn">Set visibility</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="footer_GROUP">
    <div class="footer_HOLDER">
        <div class="profile-connect-bottom no_PADDING_TOP">
            <ul class="submit-holder register_BUTTON_HOLDER">
                <li><a href="#">Cancel</a></li>
                <li><a href="#" class="send-button register-button">Register</a></li>
            </ul>
        </div>
    </div>
</div>