<div class="clear"></div>
<div class="create-a-place">

    <h2></h2>


    <div class="login-field-place">
        <input name="" placeholder="    enter mobile number" type="tel" ng-model="user.phone">
    </div>
    <div class="col07">
        <input name="" class="create-place-btn" type="button" value="Sent" ng-click="newAuthLocation()">
        <input name="" class="create-place-btn" type="button" value="Cancel" ng-click="newAuthLocationCancel()">
        <!--<div class="login-btn">
            <input name="" value="Sent" type="button" ng-click="newAuthLocation()">
        </div>-->

    </div>

    <div class="clear"></div>
</div>