<!--<footer id="bottom-nav">-->
<!--<nav>-->
<!--<ul class="unstyled">-->
<!--<li ng-click="navigateToInteraction()" class="halfCircle" ng-hide="fNavigationToInteraction"></li>-->
<!--<li class="alignleft"><img src="img/navigation/Setting.png"/></li>-->
<!--</ul>-->
<!--</nav>-->
<!--</footer>-->

<footer ng-show="isUserLoggedIn">


    <div class="clear"></div>
    <section class="bottom-area-container" ng-hide="showTopCircle()">


        <section class="bottom-area">

            <!--<section class="setting-btn" ng-controller=SweetCtrl>-->
            <!--<a href="#/place/sweetPlace">

            </a>-->
            <!--<a ng-click="createSweetPlace()">

            </a>-->
            <!--<a ng-click="showTimelinePlaceTestP()">

            </a>-->
            <!--</section>-->

            <section class="bottom-green-btn" drag-circles>
                <a ng-click="navigateToInteraction()">
                    <img src="images/bottom-green-btn.png" width="310" height="115" alt="img"/></a>
            </section>

            <!--<section class="place-btn" ng-controller=SweetCtrl>
                <a ng-click="showTimelinePlaceTest()">

                </a>
            </section>-->

        </section>

    </section>
</footer>

<!--<br/><br/>-->
<!--<hr/>-->
<!--<footer>-->
<!--<p style="font-size: 12px">copy; Sweet 2012-->
<!--<span class="pull-right">-->
<!--<a href="http://www.facebook.com/sweetnesslabs"><i class="icon-facebook icon-large"></i></a>-->
<!--<a href="http://www.twitter.com/sweetnesslabs"><i class="icon-twitter icon-large"></i></a>-->
<!--&nbsp;&nbsp;<a href="http://www.linkedin.com/company/sweetness"><i class="icon-linkedin icon-large"></i></a>-->
<!--</span>-->
<!--</p>-->
<!--</footer>-->

<!--&-->