<div class="well">
    <section id="import">
        <!--put directive here-->
        <importcontacts provider="gmail"></importcontacts>
        <!-- <importcontacts provider="yahoo"></importcontacts>
        <importcontacts provider="windowslive"></importcontacts> -->
        <!--directive for facebook-->
        <!--directive for linkin-->
        <!--directive for twitter-->
    </section>

    <!--<section id="addNew">-->
    <!--<label></label>-->

    <!--<div class="controls">-->

    <!--<input style="margin: 2px" required class="input-block-level" id="friends" type="text" placeholder="Enter a name" ng-model="newContact.name" value="">-->
    <!--</div>-->
    <!--<div class="controls">-->
    <!--<input style="margin: 2px" required class="input-block-level" type="text" placeholder="Enter a number" ng-model="newContact.phone">-->
    <!--</div>-->
    <!--<div class="controls">-->
    <!--<input style="margin: 2px" required class="input-block-level" type="text" placeholder="Enter an email " ng-model="newContact.email">-->
    <!--</div>-->
    <!--</section>-->

    <!--<section id="#saveNewContactButton" class="row-fluid">-->
    <!--<button style="margin: 0" id="saveNewContact" class="btn btn-primary span12" ng-click="saveNewContact()">-->
    <!--<span class="btn-label">Save My Friend</span>-->
    <!--</button>-->
    <!--</section>-->

</div>