<script>
jQuery(function($) {
		var open = false;
		$('#footerSlideButton').click(function () {
			if(open === false) {
				$('#footerSlideContent').animate({ height: '253px' });
				$(this).css('backgroundPosition', 'bottom left');
				open = true;
			} else {
				$('#footerSlideContent').animate({ height: '0px'});
				$(this).css('backgroundPosition', 'top left');
				open = false;
			}
		});		
});
</script>
<!-- ------------------------------------------------------------------------------- -->
<!-- Page 1                                                                 -->
<!-- --------------------------------------------------------------------------------->

<div class="show-place-public" ng-controller="SweetCtrlPlace" ng-show="showPlaceFeed">

    <div ng-show="gustPageInfo">
        <div ng-repeat="gplace in currentPlace">
            <header class="header">
                <div class="heading-title-holder"><span class="heading-title">{{gplace.get("placeTitle")}}</span> <em
                        class="heading-sub-title">{{gplace.get("address")}}</em></div>
            </header>
            <div class="banner">
                <!--<img src="images_blue/banner-1.png" alt="banner">-->
                <img src="images/main-circle-img-banner.png" alt="img" ng-src='{{ imagePlaceBanner || images/main-circle-img-banner.png}}'>
            </div>
            <span class="thankyou-title"> Love your barista? <strong>say thank you!</strong> </span>
            <!--<span class="top-heading"> ${{gplace.get("placeName")}} </span>-->
            <!--<span class="top-heading">{{gplace.get("placeSweetName")}}</span>-->
            <!--<span class="top-subheading"> Enjoyed exceptional service? </span>-->

            <!--<span>{{gplace.get("placeDesc")}}</span>
            <span>{{gplace.get("placeSweetName")}}</span>-->
        </div>
        <span place="{{currentPlace}}">{{currentPlace.placeName}}</span>
        {{placeInfoImage}}
    </div>
</div>

<section class="" ng-show="showPlaceFeed">

    <section class="container">
        <!--<section class="place-slide-images" style="overflow: hidden; float: none;">-->
        <ul class="social-connection">
            <li ng-repeat="uplace in usersInPlaces | startFrom:currentPagePlace*pageSize | limitTo:pageSize">
          <span class="person-info">
              <img tap ng-src="http://graph.facebook.com/{{uplace.get('userID')}}/picture?width=200&height=200"
                   title="{{uplace.get('userName')}}" ng-click="sendPlaceGesture(uplace)"
                   next="nextPage()" prev="prevPage()"
                   friend="{{uplace}}">
          </span>
                <a href="#" class="person-name">{{uplace.get('userName')}}</a>
            </li>
        </ul>
        <!--</section>-->

        <button ng-disabled="currentPagePlace == 0" ng-click="currentPagePlace=currentPagePlace-1"
                class="previous-slide" ng-hide="currentPagePlace == 0">
            Previous
        </button>

        <button ng-disabled="currentPagePlace >= usersInPlaces.length/pageSize - 1"
                ng-click="currentPagePlace=currentPagePlace+1" class="next-slide" ng-hide="currentPagePlace >= usersInPlaces.length/pageSize - 1">
            Next
        </button>
    </section>

    <!-- ------------------------------------------------------------------------------- -->
    <!-- Place followers                                                                 -->
    <!-- ------------------------------------------------------------------------------- -->
    <!--<section class="gallery-followers" id="place-followers">
        <ul class="image-gallery">
            <li ng-repeat="uplace in usersInPlaces">
                <img tap ng-src="http://graph.facebook.com/{{uplace.get('userID')}}/picture?width=200&height=200"
                     title="{{uplace.get('userName')}}"

                     next="nextPage()" prev="prevPage()"
                     friend="{{uplace}}"
                        />
            </li>
        </ul>
    </section>-->
    <!-- --------------------------------Place followers end------------------------------------- -->
    <!-- ---------------------------------------------------------------------------------------- -->

    <!--<section class="gallery-area-place" ng-hide="latestSweet && latestSweet.id">
<section class="slide-images" id="place-friends-list">
<ul class="image-gallery">
<li tap ng-repeat="uplace in usersInPlaces | startFrom:currentPage*pageSize | limitTo:pageSize">

    <img tap ng-src="http://graph.facebook.com/{{uplace.get('userID')}}/picture?width=200&height=200"
         title="{{uplace.get('userName')}}"
         ng-click="sendPlaceGesture(uplace)"

         next="nextPage()" prev="prevPage()"
         friend="{{uplace}}"
            />
    &lt;!&ndash;<span sweetplace="{{uplace}}"></span>&ndash;&gt;
                </li>
            </ul>
        </section>
        <div class="clear"></div>
    </section>-->

    <!--<div class="feeds-area-place">
<a ng-repeat="sweet in placeSweets">
<div class="col01">
<div class="user-img">
<img ng-src="{{sweet.get('receiverPicture') || 'img/avatar.png'}}"/>
</div>

<div class="my-text">
<p>
    &lt;!&ndash;<span sweetpublic="{{sweetPublic}}">{{sweetPublic.get('gesture')[
    'template']}}</span>&ndash;&gt;
                        <span sweetpublic="{{sweet}}"></span>
                        <br/>
                        <span ng-bind-template="{{ sweet.updatedAt.toRelativeTime() }}"></span>
                    </p>
                </div>

            </div>
        </a>

        <div class="clear"></div>
    </div>-->

    <div class="clear"></div>
    <div class="create-a-place col07" ng-show="placeJoin">
        <input name="" class="create-place-btn-search" type="button" value="Join This Place"
               ng-click=addPlace(currentPlace)>
    </div>
    <div id="footer_GROUP" class="footer-GROUP">
    <div id="footerSlideContainer">
      <div id="footerSlideButton" class="detail"></div>
      <div id="footerSlideContent">
        <div class="footer-Slider">
        		<!--<input type="text" class="texfield" placeholder="enter your mobile number">-->
                <!--<ul class="submit-holder register_BUTTON_HOLDER">
                  <li><a ng-click="">Cancel</a></li>
                  <li><a ng-click="" class="send-button register-button">Login</a></li>
                  <li><a class="facebook" alt="facebook" ng-click="facebookPlaceLogin()" ng-controller="AuthController">facebook</a></li>
                </ul>-->
                <ul class="social-icons">
                    <li>
                        <span class="fbring">
                            <a class="facebook" alt="facebook" ng-click="facebookPlaceLogin()" ng-controller="AuthController">facebook</a></li>
                        </span>
                    <!--<li><a class="google">google</a></li>
                   <li><a class="linkden">linkden</a></li>
                   <li><a class="twitter">twitter</a></li>-->
                </ul>
        </div>
      </div>
    </div>
  </div>
   <!--<ul class="setting_buttons_holder">
            <li><a href="#"><span><img src="css/blue/images/logout_icon.png" alt="Log out"></span><strong>logout</strong></a></li>
            <li><a href="#"><span><img src="css/blue/images/setting_icon.png" alt="Setting icon"></span><strong>Settings</strong></a> </li>
            <li><a href="#"><span><img src="css/blue/images/favourit_icon.png" alt="favourit icon"></span><strong>Favorites</strong></a> </li>
            <li><a href="#" class="business"><span><img src="css/blue/images/business_icon.png" alt="business icon"></span><strong>Business</strong></a> </li>
          </ul>-->

</section>

<!-- ************************************************************************************* -->
<!-- ************************************************************************************* -->

<!-- ------------------------------------------------------------------------------- -->
<!-- Page 2                                                                 -->
<!-- ------------------------------------------------------------------------------- -->

<!-- -------------------------------------------------------------------------------------- -->
<!-- Show the send gusture                                                                  -->
<!-- -------------------------------------------------------------------------------------- -->
<div class="header" ng-show="showPlaceGestureSendActionsPlace">
    <div class="heading-title-holder"><span class="heading-title">{{userName}}</span>
        <em class="heading-sub-title">{{currentPlace[0].get('placeTitle')}}</em>

    </div>
    <ul class="social-features">
        <!--<li><a href="#" class="profile-icon"></a></li>
        <li><a href="#" class="cam-icon"></a></li>
        <li><a href="#" class="home-icon"></a></li>-->
    </ul>
</div>

<section class="main-circle-area-place_place-name" ng-show="section.sending">
    <div class="container_ROW notable">
        <div class="container">
            <div class="profile-connect">
      <span class="profile-img-main heart-big-profile">
            <img src="images/main-circle-img.png" alt="img" ng-src='{{magicButtonImage || images/main-circle-img.png}}'
                ng-click="sendSweetnessPlaceGesture(placeInfo)" class="circle-main-img">
            <span class="heart-icon heart-big"><img src="images/heart-icon.png" ng-click="sendSweetnessPlaceGesture(placeInfo)"></span>
      </span></div>
        </div>
    </div>
    <!--<section class="main-circle">
        <div ng-show="section.sending">
            <div class="col03"></div>
            <div class="col04a" ng-hide="section.sendingPlaceThanks"><span>Thank You</span></div>
            <div class="col05" ng-hide="section.sendingPlace">
                <img src="images/tick-img.png" width="150" height="138" alt="img">
            </div>
        </div>
    </section>-->
</section>

<!--<div class="clear"></div>-->
<div ng-show="showPlaceGestureSendActionsPlace">
    <div id="footer_GROUP" class="footer_GROUP notable">
        <div class="footer_HOLDER">
            <div class="profile-connect-bottom">
                <ul class="submit-holder">
                    <li><a ng-click="cancelSweetPlace(placeInfo)">Back</a></li>
                    <li><a ng-click="sendSweetnessPlaceGesture(placeInfo)" class="send-button">Send</a></li>
                </ul>
            </div>
            <!--<div class="more-detail-holder"> <a class="detail" href="#"></a> </div>-->
        </div>
        <!--<div class="cancel-btn"><a ng-click="cancelSweetPlace(placeInfo)">Cancel</a></div>
     <div class="send-btn"><a ng-click="sendSweetnessPlaceGesture(placeInfo)" class="send-button">Send</a></div>-->
        <!--<span sweet="{{placeInfo}}"></span>-->
    </div>
</div>
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->

<!-- ************************************************************************************* -->
<!-- ************************************************************************************* -->

<!-- ------------------------------------------------------------------------------- -->
<!-- Page 3                                                                 -->
<!-- ------------------------------------------------------------------------------- -->

<!-- -------------------------------------------------------------------------------------- -->
<!-- Show the enter mobile                                                                  -->
<!-- -------------------------------------------------------------------------------------- -->

<div ng-show="showmobileActions">
    <div class="header">
        <div class="heading-title-holder"><span class="heading-title">{{userName}}</span>
            <em class="heading-sub-title">{{currentPlace[0].get('placeTitle')}}</em>
        </div>
        <ul class="social-features">
            <!-- <li><a href="#" class="profile-icon"></a></li>-->
            <li>
                <span class="inputfile-holder-2">
                   <!-- <a class="cam-icon active"></a>-->
                    <!--<input type="file" accept="image/*" id="capture" capture="camera" class="fileholder-btn-2" size="0">-->
                    <!--<sweetfileselect align="center" showprogress="util.showProgress" swfile="user.avatarUrl" attr1="50" >
                    </sweetfileselect>-->
                </span>
            </li>
        </ul>
    </div>

    <div class="container_ROW">
        <div class="container">
            <div class="profile-connect-other holder-time">
                <span class="thanks_heading" ng-show="thanksheading">
                    You just thanked {{userName}}!
                </span>
                <span class="profile-img-main bot-40" style="background-color:transparent;">
                    <img src="images/main-circle-img.png" alt="img" ng-src='{{magicButtonImage || images/main-circle-img.png}}'
                         ng-click="feedback()" class="circle-main-img">
                    <span class="heart-icon"><img src="images/heart-icon.png" ng-click="feedback()"></span>
                </span>

                <div class='timer-app'>
                    <div class="holder-grip">
                        <!--<timer duration='150' autostart='true'></timer>-->
                        <!--<footer ng-controller=TimerHandlerCtrl>
                            <button data-ng-click="restart()">Restart</button>
                            <button data-ng-click="toggleStop()">{{startStatus}}</button>
                            <div class='console'>{{timerStatus}}</div>
                        </footer>-->
                        <div ang:round:progress data-round-progress-model="roundProgressData"
                             data-round-progress-width="280"
                             data-round-progress-height="280"
                             data-round-progress-outer-circle-width="40"
                             data-round-progress-inner-circle-width="10"
                             data-round-progress-outer-circle-radius="120"
                             data-round-progress-inner-circle-radius="70"
                             data-round-progress-label-font="100pt Arial"
                             data-round-progress-outer-circle-background-color="#fff"
                             data-round-progress-outer-circle-foreground-color="#672971"
                             data-round-progress-inner-circle-color="#fff"
                             data-round-progress-label-color="#fff"></div>
                    </div>
                </div>

                <!--<div class="{{showprogressline}} strip-top-line">
                    <span class="profile-attach">
                        &lt;!&ndash;<img src="images/profile-pic-2.png" alt="Profile Picture">&ndash;&gt;
                        <img ng-show='!userAvatar' ng-src="images/bg-capture2.png" />

                        &lt;!&ndash;<img  ng-show='userAvatar' ng-src="http://fast-bayou-8907.herokuapp.com/convert?resize=200x200&source={{userAvatar}}"/>&ndash;&gt;
                        <img  ng-show='userAvatar' ng-src="{{userAvatar}}"/>

                        <sweetfileselect align="center" showprogress="util.showProgress" swfile="user.avatarUrl" attr1="50" >
                        </sweetfileselect>

                    </span>
                </div>-->

                <!--<audio id="bellSound" ng-show='playBell'>
                    <source src="images/bell-ringing-03.mp3" type="audio/mpeg">
                </audio>-->

                <form name="mobileForm" onkeypress="return event.keyCode != 13;">
                    <fieldset>
                        <!--<div class="login-field-place-comment">

                        <div class="header">
                            <div class="heading-title-holder"> <span class="heading-title">{{userName}}</span> <em class="heading-sub-title">STARBUCKS</em> </div>
                            <ul class="social-features">
                                <li><a href="#" class="profile-icon"></a></li>
                                <li><a href="#" class="cam-icon active"></a></li>
                            </ul>
                        </div>

                        <div class="container_ROW notable">
                            <div class="container">
                                <div class="profile-connect profile-connect_TWO">
                                    <span class="profile-img-main bot-40">
                                        <img src="images/main-circle-img.png" alt="img" ng-src='{{magicButtonImage || images/main-circle-img.png}}'
                                            ng-click="navigateToInteraction()" ondrop="drop(event)" ondragover="allowDrop(event)" class="circle-main-img">
                                        <span class="heart-icon"><i class="icon-heart"></i></span>
                                    </span>
        <form name="mobileForm" onkeypress="return event.keyCode != 13;">
          <fieldset>
            <!--<div class="login-field-place-comment">

                            <label class="form-label">Would you like to leave a comment? </label>
                            <input name="comment" id="comment" placeholder="    i love this place" type="tel" ng-model="user.comment"
                                   min="7" max="32">
                        </div>-->
                        <!--<div class="staric-holder"> <span class="star-title">Please rate your experience</span>
                      <div class="rating-holder">
                        &lt;!&ndash;<div class="ratingdiv">&ndash;&gt;
                        &lt;!&ndash;Rating is {{rating}} <br/>&ndash;&gt;
                        &lt;!&ndash;<span>Please rate your experience</span>&ndash;&gt;
                <div star-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)"></div>
                &lt;!&ndash;<rating value="rate" max="10" readonly="isReadonly"></rating>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
              </div>
            </div>-->
                        <!--<textarea class="feedback-holder" name="comment" id="comment" min="7" max="32"
                                  ng-model="user.comment">
                            We'd love to read your feedback.
                        </textarea>-->
                        <!--<input class="texfield-grey" name="mnumber" id="mnumber"
                               placeholder="enter your mobile, email or username to get your receipt"
                               type="text" ng-model="user.mobile" min="7" max="110" required>-->
                    </fieldset>
                </form>

                <span class="thanks_footer" ng-show="thanksfooter">
                    Thankyou for writing to us!
                </span>

            </div>
        </div>
    </div>
    <!--<div ng-repeat="gplace in currentPlace">
        <h2>{{gplace.get("placeSweetName")}}</h2>
    </div>-->
    <!--<div class="counter rating-countdown">
        {{counter}}
    </div>-->
    <!--<div ng-repeat="gplace in currentPlace">
        <h2>{{gplace.get("placeSweetName")}}</h2>
    </div>-->
    <!-- <div class="counter rating-countdown">
        {{counter}}
    </div>-->

    <div class="footer_GROUP notable no_TOP_MARGIN">
        <div class="footer_HOLDER">
            <div class="profile-connect-bottom">
                <ul class="submit-holder">
                    <!--<li><a ng-click="newAuthPlaceCancel()">No Thanks</a></li>
                    <li>
                        <a ng-disabled="mobileForm.mnumber.$dirty && mobileForm.mnumber.$invalid && !mobileForm.mnumber.$valid"
                           ng-class="{enable : !mobileForm.mnumber.$invalid , disable : mobileForm.mnumber.$invalid && !mobileForm.mnumber.$valid }"
                           ng-click="newAuthPlace()" class="send-button">Send</a></li>-->
                    <li class="feedback-btn">
                        <a ng-click="feedback()" class="send-button">Please write to us with your feedback</a></li>
                </ul>
                
                <!-- -----------------------------Feedback form ------------------------------------------- -->
                <div class="feedbackFACEBOOK-HOLDER" ng-show="feedbackform">
                <div class="feedbackFACEBOOK">

                    <form name="mobileForm" onkeypress="return event.keyCode != 13;">
                        <fieldset>
                            <textarea class="feedback-holder" name="comment" id="comment" ng-model="user.comment"
                                      min="7" max="1100" required autofocus="autofocus">
                                We'd love to read your feedback.
                            </textarea>
                            <input class="texfield-grey" name="username" id="username" placeholder="Full Name (optional)"
                                   type="text" ng-model="user.name" min="7" max="110">
                            <input class="texfield-grey" name="mnumber" id="mnumber" placeholder="Mobile Number (optional)"
                                    type="text" ng-model="user.mobile" min="7" max="110" >
                        </fieldset>
                    </form>
                    <ul class="submit-holder">
                        <li><a ng-click="newAuthPlaceCancel()">Cancel</a></li>
                        <li>
                            <!--<a ng-disabled="mobileForm.mnumber.$dirty && mobileForm.mnumber.$invalid && !mobileForm.mnumber.$valid"
                           ng-class="{enable : !mobileForm.mnumber.$invalid , disable : mobileForm.mnumber.$invalid && !mobileForm.mnumber.$valid }"
                           ng-click="newAuthPlace()" class="send-button">Done</a>-->
                            <a ng-disabled="user.comment.$dirty && user.comment.$invalid"
                               ng-class="{enable : !user.comment.$invalid , disable : user.comment.$invalid && !user.comment.$valid }"
                               ng-click="newAuthPlace()" class="send-button">Done</a>
                        </li>
                    </ul>
                </div>
                </div>
                <!-- ------------------------------------End------------------------------------------------ -->
                
            </div>
            <!--<div class="more-detail-holder"> <a class="detail" href="#"></a> </div>-->
        </div>
    </div>
</div>
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->

