<div class="wrapper" ng-controller="AuthController">
    <div class="container_ROW">
        <a class="logo"><img src="images/logo.png" alt="sweet"></a>
            <div class="enter-NUMBER-holder">
                <label class="labelfield">Please check your SMS</label>
                <input name="" placeholder="enter login code" class="texfield" type="tel" ng-model="user.sms">
                <input type="submit" name="" value="Login" class="login-btn" ng-click="smsLogin()">
            </div>
    </div>
</div>