<div class="show-place">

    <h2>{{newPlace.name}}</h2>
    <span>{{newPlace.sweetname}}</span>
    <span>{{newPlace.description}}</span>

    <!--<div class="col08">

        <div class="choose-location">

            <div class="google-map"
                 center="centerProperty"
                 zoom="zoomProperty"
                 markers="markersProperty"
                 latitude="clickedLatitudeProperty"
                 longitude="clickedLongitudeProperty"
                 mark-click="true"
                 draggable="true"
                 style="height: 300px; width: 800px;">
            </div>
        </div>
    </div>-->

    <div class="clear"></div>
</div>

<section class="gallery-area-place" ng-hide="latestSweet && latestSweet.id">
    <section class="slide-images" id="friends-list" ng-hide="showGestureSendActions">
        <ul class="image-gallery">
            <li ng-repeat="uplace in usersInPlaces | startFrom:currentPage*pageSize | limitTo:pageSize">

                <img tap ng-src="http://graph.facebook.com/{{uplace.get('userID')}}/picture?width=200&height=200"
                     title="{{uplace.get('userName')}}"
                     ng-click="setPlaceSweet(uplace)"

                     next="nextPage()" prev="prevPage()"
                     friend="{{uplace}}"
                        />
            </li>
        </ul>
    </section>
    <div class="clear"></div>
</section>
<div class="create-a-place col07">
    <input name="" class="create-place-btn" type="button" value="Join This Place" ng-click=addPlaceDirect(newPlace)>
</div>
