<div class="place-top-icons">

    <ul>
        <li>
            <a ng-click="showTimelinePlace()">
                <img ng-src='{{magicButtonImage}}' width="187" height="187" alt="usericon">
                <!-- <img ng-src='{{magicButtonImage}}' src="images/user-icon-2.png" width="187" height="187" alt="usericon">-->
            </a>
        </li>
        <li>
            <a ng-click="showFeedPlace()" class={{activeFeed}}>
                <img src="images/groupicon-2.png" width="187" height="187" alt="group">
            </a>
        </li>
        <li>
            <a ng-click="showPlaceNew()" class={{activePlace}}>
                <img src="images/place-icon.png" width="187" height="187" alt="place">
            </a>
        </li>
    </ul>


</div>