<div class="logo">
    <img src="images/logo.png" width="990" height="272" alt="logo"/>
</div>

<div class="clear"></div>


<p>
                    <span>
                        <h1>
                            Bring your friends to Sweet from facebook.<br/>
                            And start spreading Sweetness!
                        </h1>
                    </span>
</p>

<div class="clear"></div>
<!--<div class="face-book-icon">
    <a ng-click="facebookLink()">
        <img src="images/facebook-icon.png" width="263" height="263" alt="face book">
    </a>
</div>-->
